<h2 class="page-header" >Search Authors</h2>
<form action="" method="GET">
  <div class="form-row">
    <div class="form-items">
      <label for="search">Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>" >
    </div>
  </div>
  <div class="form-row form-row-end">
    <button class="btn btn-primary" type="submit">Search</button>
  </div>
</form>

<br>

  <% authors.forEach(author=>{ %>
    <div class="author-row">
      <div class="author-name"><%= author.name %></div>
    <div class="form-row btn-row">
      <a href="/authors/<%= author.id %>" class="btn btn-primary">View</a>
      <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
      <%- include('../partial/deleteForm.ejs', {url:`/authors/${author.id}`}) %>
    </div>
    </div>
<% }) %>  

